<main>
  <p></p>
  <div class="container">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <div class="row">
        <span class="mx-auto"><h1>Welcome to <i class="fas fa-book" aria-hidden="true"></i><strong>Bookers</strong>!</h1></span>
      </div>
    </div>
  </div>
</main>